@model Norhwind.Entities.ShippingDetails
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout Now</h2>

@using (Html.BeginForm())
{
  @Html.EditorForModel()
    <input type="submit" value="Complete Checkout"/>
}